@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inika';
}

.header {
    height: 134px;
    background: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    padding-bottom: 45px;
    background: #EDF2EC;
    font-family: 'Inter';
}

.about {
    padding: 2px 2px 6% 2px;
}

.service {
    background: #EDF2EC;
}

.prices {
    display: flex;
    justify-content: space-between;
    text-align: end;
    font-family: 'Inter';
    padding-top: 6px;
    padding-left: 7%;
    margin-left: 8px;
    padding-bottom: 7%;
}

.contacts {
    display: flex;
    background: #EDF2EC;
    margin-top: 5px;
    padding-top: 25px;
}

.contacts h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

h1 {
    color: #717171;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.6px;
    padding-left: 6px;
    width: 90%;
    line-height: 52px;
}

h1 span {
    color: #499A18;
}

nav {
    width: 41%;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-menu:first-child {
    padding-left: 8px;
}

.logo {
    font-size: 0;
    line-height: 33px;
    margin: 0 106px;
    padding: 4px 0 0 4px;
    cursor: pointer;
}

.logo span {
    font-size: 16px;
}

.vector_1 {
    padding-top: 1px;
}

.nav-link {
    color: #010201;
    padding: 0 23px;
    text-decoration: none;
}

.nav-link:hover {
    color: #E06733;
    font-weight: 700;
}

.main-welcome {
    display: flex;
    padding-top: 59px;
}

.image-block {
    width: 54%;
    text-align: center;
}

.image {
    margin-right: 14%;
}

.main-welcome-right {
    width: 46%;
}

.button {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-top: 28px;
    padding: 11px 24px;
    margin-left: 5px;
    border-radius: 10px;
    border: 2px solid #E06733;
    background: #EDF2EC;
    transition: 1s;
    cursor: pointer;
}

.button:hover {
    background: #E06733;
    color: #fff;
}

.text {
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    padding-top: 6px;
    padding-left: 5px;
    line-height: 34px;
    width: 82%;
}

.main-about {
    display: flex;
    padding-top: 6%;
}

.about-left {
    padding-left: 7%;
    width: 53%;
    padding-top: 2%;
    margin: 11px 0 0 6px;
}

.h2-about {
    color: #499A18;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 56%;
}

.h2-about span {
    color: #E06733;
}

.text-about {
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    padding-top: 5px;
    padding-left: 1px;
    line-height: 30px;
    width: 81%;
    font-family: 'Inter';
}

.img-about {
    margin-top: 5px;
}

.title-service {
    color: #499A18;
    font-size: 40px;
    font-weight: 400;
    width: 27%;
    margin: 3% 7%;
    padding: 0 9px;
}

.button-service {
    font-size: 20px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    margin-right: 3.8%;
    font-family: 'Inika';
    background: #EDF2EC;
    transition: 1s;
    cursor: pointer;
}

.button-service:nth-child(1) {
    padding-right: 11px;
}

.button-service:hover {
    color: #fff;
    background: #E06733;
}

.button-service-block {
    width: 71%;
    padding-left: 2px;
    padding-top: 4px;
}

.main-service {
    display: flex;
    align-items: center;
}

.cards-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cards-service figure:nth-child(2) {
    margin: 16px 5%;
    padding: 0 4px;
}

.cards-service figure:nth-child(5) {
    margin: 16px 5%;
    padding: 0 4px;
}

.border-items-service {
    border: 1px solid #e3e1d5;
    border-radius: 0 0 20px 20px;
    margin-top: -6px;
    text-align: center;
    padding-bottom: 33px;
}

.title-item-service {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin-top: 11px;
    letter-spacing: 0.3px;
    margin-bottom: 14px;
}

.subtitle-item-service {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-top: 15px;
    margin-bottom: 10%;
}

.title-item-service1 {
    letter-spacing: 0.3px;
}

.title-item-service2 {
    padding-left: 3px;
    letter-spacing: 0.5px;
}

.title-item-service3 {
    padding-right: 3px;
    letter-spacing: 0.3px;
}

.figure-service {
    margin-bottom: 40px;
}

.figure-service-bottom {
    margin-bottom: 8%;
    padding-bottom: 6px;
}

.accordion-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-top: 17%;
    padding: 17px 12%;
}

.prices-left {
    width: 25%;
}

.title-prices {
    font-weight: 700;
    line-height: 51px;
    font-size: 40px;
    letter-spacing: 1.3px;
    text-align: start;
}

.title-prices-right {
    font-weight: 700;
    line-height: 51px;
    font-size: 40px;
    letter-spacing: 0.64px;
    margin: 33px 0;
}

h3 span {
    color: #499A18;
}

.prices-right {
    width: 40%;
    padding-right: 8%;
    margin-right: 1px;
}

.accordion-item {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    background: #EDF2EC;
    margin: 17px 0;
    padding: 15px 0 13px 16%;
    border-radius: 20px;
    text-align: start;
    position: relative;
    cursor: pointer;
}

.accordion-item-1 {
    letter-spacing: 0.7px;
}

.accordion-item-2 {
    letter-spacing: 0.5px;
}

.accordion-item-3 {
    letter-spacing: 0.3px;
}

.accordion-item::after {
    content: url(assets/img/arrow.png);
    right: 16%;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding: 7px 6px;
}

.button-prices {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background: #fff;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 11px 34px 11px 31px;
    transition: 1s;
    cursor: pointer;
}

.button-prices:hover {
    color: #fff;
    background: #E06733;
}

.contact-btn {
    padding-top: 5px;
    padding-right: 1px;
}

.contact-image {
    padding-top: 32px;
}

.contacts-img {
    width: 43%;
    text-align: center;
    padding-top: 28px;
    font-size: 0;
}

.contacts-title {
    margin-left: 3px;
    width: 18%;
}

.accordion-contacts {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #717171;
    width: 32%;
}

.accordion-contacts div {
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    position: relative;
    top: 23%;
    margin-right: 11px;
    padding: 14px 0;
    cursor: pointer;
}

.accordion-contacts div::after {
    content: url(assets/img/arrow_wite.png);
    right: 34px;
    top: 19px;
    position: absolute;
    background-color: #AEA1A1;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    padding: 7px 6px;
}

.accordion-contacts div span {
    padding-left: 19px;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Inter';
    height: 130px;
}

.footer-left {
    margin: auto 7%;
    padding-left: 8px;
}

.footer-center {
    width: 33%;
    text-align: center;
    margin: auto 0 auto 5%;
    padding-left: 9px;
}

.footer-right {
    width: 33%;
    text-align: center;
    margin: auto 0;
}

.footer-link {
    text-decoration: none;
    color: #000;
}

.footer-elem {
    margin-right: 15px;
}

.footer-link-1 {
    padding: 0 20px 0 44px;
}

.footer-link-n {
    padding-right: 20px;
}

footer div ul {
    margin-top: 5%;
    display: flex;
    margin-left: 20%;
    list-style: none;
}